/* Global styles
==========================*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}


body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Container
==========================*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
