<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
    <link rel="stylesheet" type="text/css" href="/css/tables.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-design-icons@3.0.1/iconfont/material-icons.css">
</head>
<body>

<header class="header">
    <div class="header-container">
        <div class="logo">
            <a href="/" class="nav-link">DABLibrary</a>
        </div>
        <nav class="nav">
            <a href="/books" class="nav-link">Книги</a>
            <a href="/branches" class="nav-link">Филиалы</a>
            <a href="/genres" class="nav-link">Жанры</a>
            <a href="/readers" class="nav-link">Читатели</a>
        </nav>
    </div>
</header>

<div class="container">
    <form method="POST" th:action="@{books/search_book}">
        <div class="search-container">
            <input class="search-input" type="text" name="key_name" placeholder="Название">
            <button class="search-button" type="submit">Поиск</button>
        </div>
    </form>
    <button class="add-btn" onclick="openAddForm()">Добавить</button>
    <table class="table">
        <thead>
        <tr>
            <th class="table-header">Название</th>
            <th class="table-header">Автор</th>
            <th class="table-header">Жанр</th>
            <th class="table-header"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${books}">
            <td th:text="${book.getName()}" class="table-data"></td>
            <td th:text="${book.getAuthor()}" class="table-data"></td>
            <td th:text="${book.getGenre()}" class="table-data"></td>
            <td class="table-change">
                <a th:href="@{books/edit/{bookId} (bookId=${book.getIdBook()})}" class="edit-btn">
                    <i class="material-icons">edit</i>
                </a>

                <a th:href="@{books/delete/{bookId} (bookId=${book.getIdBook()})}" class="delete-btn"><i
                        class="material-icons">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="myAddModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAddForm()">&times;</span>
        <h2>Добавить книгу</h2>
        <form th:action="@{books/add}" method="POST">
            <table>
                <tr>
                    <td>Автор:</td>
                    <td><input class="add-input" type="text" name="author"/></td>
                </tr>
                <tr>
                    <td>Жанр:</td>
                    <td>
                        <select name="genre">
                            <option th:each="genre : ${genres}"
                                    th:value="${genre.getName()}"
                                    th:text="${genre.getName()}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Название:</td>
                    <td><input class="add-input" type="text" name="name"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Добавить</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


<script>
    function openAddForm() {
        document.getElementById("myAddModal").style.display = "block";
    }

    function closeAddForm() {
        document.getElementById("myAddModal").style.display = "none";
    }
</script>

</body>
</html>
